@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* home page styling */

.sidebar{
    background-color: rgb(128, 128, 128);
    width: 400px;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.sidebar nav {
    padding: 30px;
}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 20px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}


.main{
    /* background-color: yellow; */
    width: 88vw;
}

.infoContainer{
    /* background-color: orange; */
    width: 80vw;
    height: 55vh;
    margin: 85px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img{
    height: 55vh;
}

.devInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid green; */
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 55px;
}

.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.about{
    font-size: 35px;
}

.moreAbout{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
}

.buttons{
    margin-top: 34px;
}

.btn{
    /* margin-top: 34px; */
    padding: 9px 12px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 17px;
    margin: 0px 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 15px;
    margin: 15px 0px;
    padding: 10px 19px;
}

.btn:hover{
    color: dodgerblue;
    background-color: white;
}

.container{
    display: flex;
}

/* contact page styling */

.contactForm{
    /* border: 1px solid red; */
    padding: 0px 35px;
    padding-top: 90px;
    font-family: 'Open Sans', sans-serif;
}

.contactForm h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0px;
}

.contactForm form div{
    padding: 7px 0px;
    display: flex;
    flex-direction: column;
}

.contactForm form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 12px;
    color: midnightblue;
    margin: 0px 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 25px;
    margin: 2px 0px;
}